body {background-color: black;}

#title-container{
		width: 100%;
		text-align: center;
}

.title-name{font-family: freestyle script;
		font-size: 150px;}

#title-word-one{color: red;}

#title-word-two{color: #228B22;}

#title-word-three{color: #ffa135;}
				
#title-word-four{color: white;font-family: comic-sans;font-size: 130px;}

#canvas-container{
	display: flex;
	justify-content: center;}

#canvas {
   position: static;
   width: 85vw;
   height: 56vw;
   margin: 0 auto;
   justify-content: center;
   border: 1px white solid;
   display: flex;
   background-color: black;
   flex-wrap: wrap;
   float:left;
}

.square {
   background-color: white;
   position: relative;
   width: 5vw;
   height: 5vw;
   margin-left: 1vw;
   margin-right: 1vw;
   margin-top: 1vw;
   margin-bottom: 1vw;
   padding-top: 1vw;
   padding-left: 1vw;
   padding-right: 1vw;
   padding-bottom: 1vw;
   border: 1px white solid;
}

.orange-circle{
     width: 5vw;
     height: 5vw;
	 background: #ffa135;
     border-radius: 50%
    }

.green-circle{
     width: 5vw;
     height: 5vw;
     background: #228B22;
     border-radius: 50%
    }
.red-circle{
    width: 5vw;
     height: 5vw;
     background: red;
     border-radius: 50%
    }

.black-circle{
     width: 5vw;
     height: 5vw;
     background: black;
     border-radius: 50%
    }
	
footer {
  font-size: 15px;
  font-family: tahoma;
  color: white;
  font-style: italic;
  color: aqua;
  text-align: left;
}

a:link {
  color: aqua;
}
a:visited {
  color: aqua;
}

