body {background-color: black;}

#title-container{
		width: 100%;
		text-align: center;
}

.title-name{font-family: freestyle script;
		font-size: 150px;}

#title-word-one{color: red;}

#title-word-two{color: #228B22;}

#title-word-three{color: #ffa135;}
				
#title-word-four{color: white;font-family: comic-sans;font-size: 130px;}

#canvas {
   background-color: red;
   position: static;
   width: 780px;
   height: 780px;
   margin-left: 100px;
   margin-top: 10px;
   border: 1px white solid;
   display: flex;
   background-color: black;
   flex-wrap: wrap;
   float:left;
}

.square {
   background-color: white;
   position: relative;
   width: 75px;
   height: 75px;
   margin-left: 7.5px;
   margin-right: 7.5px;
   margin-top: 7.5px;
   margin-bottom: 7.5px;
   padding: 2.5px 2.5px 2.5px 2.5px;
   border: 1px white solid;
}

.orange-circle{
     width: 76px;
     height: 76px;
	 background: #ffa135;
     border-radius: 50%
    }

.green-circle{
     width: 75px;
     height: 75px;
     background: #228B22;
     border-radius: 50%
    }
.red-circle{
     width: 75px;
     height: 75px;
     background: red;
     border-radius: 50%
    }

.black-circle{
     width: 75px;
     height: 75px;
     background: black;
     border-radius: 50%
    }
	
footer {
  margin-top: 47rem;
  font-size: 15px;
  font-family: tahoma;
  color: white;
  font-style: italic;
  color: aqua;
}

a:link {
  color: aqua;
}
a:visited {
  color: aqua;
}

